*{
    margin: 0;
}

body{
    font-family: 'roboto', arial;
}

button{
    cursor: pointer;
}

.limit-line{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}